// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


@font-face {
    font-family: "SkModern";
    src: url('../fonts/SkModernist.otf');
}
@font-face {
    font-family: "PierSans";
    src: url('../fonts/PierSans-Regular.otf');
}
@font-face {
    font-family: "Akrobat";
    src: url('../fonts/Akrobat-Regular.otf');
}

$container-width : 1220px;

.container{
    width: $container-width;
    margin: auto;
}
//init end

//pallette start
$main-color : #333;
$main-blue: #2babe2;
$main-green: #82c347;
//pallette end

::selection {
  background: $main-green; /* WebKit/Blink Browsers */
  color: white;
  border: 1px solid $main-blue
}


// navbar start
#navbar{
    z-index: 99;
    font-family: SkModern;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    .container{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    .logo-container{
        img{
            display: block;
            width: 120px;
        }
    }
    ul{
        padding: 33px 0;
        li{
            display: inline-block;
            text-transform: uppercase;
            font-size: 14px;
            color: #585858;
        }
    }
    .navbar-navigation{
        li{
            font-weight: bold;
            margin: 0px 15px;
            padding: 0px 2px 10px;
        }
        li.active{
            border-bottom: 2px solid $main-green;
        }
    }
    .navbar-function{
        li{
            margin-left: 20px;
        }
    }
    #navbarQty{
        color: $main-blue;
        cursor: pointer;
    }
    #navbarQty:before{
        content: "(";
    }
    #navbarQty:after{
        content: ")";
    }
}
// navbar end

//parentContainer start
#parentContainer{
    margin-top: 106px;
    min-height: 100vh;
}
.section-container{
    margin: 10px 0;
    padding: 20px 0;
    position: relative;
}
.section-title{
    font-family: PierSans;
    font-size: 53px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.paragraph{
    color: #696969;
    font-family: Akrobat;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
}
.dotted-ul{
    padding-left: 25px;
    margin: 5px 0 15px;
    li{
        list-style: disc;
    }
}
.green{
    color: $main-green;
}
.bg-green{
    background-color: $main-green;
    border: 1px solid $main-green;
}
.blue{
    color: $main-blue;
}
.bg-blue{
    background-color: $main-blue;
    border: 1px solid $main-blue;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
    position: relative;
}
.seperator{
    border-bottom: 5px solid black;
}
.pad-right{
    padding-right: 10%;
}
.bg-btn{
    padding: 10px 15px;
    font-family: SkModern;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s ease;
    user-select: none;
}
.bg-btn.bg-green:hover{
    color: $main-green;
    border: 1px solid $main-green;
    background: white;
}
.bg-btn.bg-blue:hover{
    color: $main-blue;
    border: 1px solid $main-blue;
    background: white;
}
.bg-btn:active{
    transform: translateY(5px) scale(.95)
}
.underlined-btn{
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid $main-green;
    cursor: pointer;
}
.section-subtitle{
    font-family: PierSans;
    font-size: 20px;
}
.form-group{
    font-family: SkModern;
}
.required:after{
    content: " *";
    color: red;
}
.mild-input{
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 7px 5px;
}
#indexSlider{
    background-color: #3d3d3d;
    padding: 10px 0;
    .slider-container{
        padding: 30px 0;
    }
    .slider-item{
        img{
            display: block;margin: auto;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        li{
            display: inline-block;
            height: 10px;
            width: 10px;
            margin: 10px 7px;
            border-radius: 50%;
            border: 1px solid #eee;
            background: #333;
            transition: all .3s ease;
            cursor: pointer;
        }
        button{
            display: none;
        }
        li.slick-active{
            background: white;
            // width: 20px;
            border-radius: 10px;
        }
    }
}

#About{
    .container{
        display: flex;
    }
    .section-title:after{
        content: "";
        width: 100px;
        border-bottom: 5px solid black;
        display: block;
        margin-top: 20px;
    }
    img{
        display: block;
        width: 100%;
    }
    .video{
        width: 100%;
        height: 343px;
        display: block;
        right: 0;
        margin: 70px 0;
    }
}

#Principles{
    .paragraph{
        width: 450px;
    }
    .ingredient-flex{
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
    }
    .ingredient-module{
        width: 25%;
        text-align: center;
        padding: 0 20px;
        img{
            display: block;
            margin: auto;
            width: 68%;
            margin-bottom: 15px;
        }
        .module-caption{
            font-family: PierSans;
            color: black;
            margin: 10px 0;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
        }
        .module-subcaption{
            color: #696969;
            font-family: Akrobat;
            font-size: 14px;
            padding: 0 20px;
        }
    }
}

#Solutions{
    background: #eee;
    background-image: url(../img/home/solution-bg-dummy.png);
    min-height: 650px;
    background-position: center center;
    background-size: cover;
}

#IAMNOTPLASTIC{
    margin-top: 80px;
    .section-title{
        text-align: center;
    }
    .paragraph{
        font-weight: normal;
    }
    .gallery-flex{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .gallery-module{
        width: 20%;
        border: 1px solid white;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        img{
            display: block;
            width: 100%;
        }
        .hover-tint{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0.4);
             background: -moz-linear-gradient(-45deg, rgba(43,171,226,0.56) 0%, rgba(130,195,71,0.55) 100%);
             background: -webkit-linear-gradient(-45deg, rgba(43,171,226,0.56) 0%,rgba(130,195,71,0.55) 100%);
             background: linear-gradient(135deg, rgba(43,171,226,0.56) 0%,rgba(130,195,71,0.55) 100%);
            z-index: 5;
            opacity: 0;
            filter: hue-rotate(0deg);
            transition: opacity .3s ease;
        }
        .module-functions{
            height: 50px;
            background: rgba(255, 255, 255, 0.9);
            border-bottom: 2px solid $main-green;
            border-top: 2px solid $main-blue;
            z-index: 6;
            width: 100%;
            position: absolute;
            bottom: -50px;
            left: 0;
            transition: all .3s ease;
            opacity: 0;
            font-family: PierSans;
            font-weight: bold;
        }
        .left{
            float: left;
            padding: 15px 10px;
        }
        .right{
            float: right;
            padding: 13px;
        }
        .delay-1{
            transition: all .2s ease;

            position: relative;
            bottom: -50px;
            opacity: 0;
        }
        .delay-2{
            transition: all .2s ease;
            margin-right: 10px;
            position: relative;
            bottom: -50px;
            opacity: 0;
            display: inline-block;
        }
        .delay-3{
            transition: all .2s ease;
            position: relative;
            bottom: -50px;
            opacity: 0;
            display: inline-block;
        }
        .ico{
            width: 25px;
        }
    }
    .gallery-module:hover{
        img{
            transform: scale(1);
        }
        .hover-tint{
            opacity: 1;
            filter: hue-rotate(360deg);
            transition: all .3s ease, filter 5s ease;
        }
        .module-functions{
            bottom: 0;
            opacity: 1;
        }
        .delay-1{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.1s;
        }
        .delay-2{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.2s;
        }
        .delay-3{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.3s;
        }
    }
}

#asSeen{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    .side-title{
        padding: 30px 80px 30px 0;
        color: black;
        font-family: PierSans;
        font-size: 30px;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
    }
    .sponsors-container{
        display: inline-block;
        vertical-align: top;
    }
}

#pageBanner{
    min-height: 30vw;
    background: "";
}

#History{
    .section-title:after{
        content: "";
        width: 100px;
        border-bottom: 5px solid black;
        display: block;
        margin-top: 20px;
    }
}
#scrollAbout{
    background-image: url(../img/dummy-bg.png);
    min-height: 35vw;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #eee;
}
#mediaSlider{
    margin-top: 50px;
    .media-slide-items{
        position: relative;
        outline: none;
        padding: 30px 0;
    }
    .white-title{
        font-family: PierSans;
        color: white;
        font-size: 24px;
    }
    .quote-paragraph{
        color: #333;
        font-family: Akrobat;
        margin: 20px 0 30px;
        width: 55%;
        line-height: 28px;
        font-weight: 500;
        font-size: 18px;
    }
    .white-author{
        font-family: Akrobat;
        font-style: italic;
        color: white;
    }
    .right-avatar{
        right: 20%;
        bottom: 0;
        position: absolute;
        height: 115%;
    }
    .slick-dots{
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        li{
            display: inline-block;
            height: 10px;
            width: 10px;
            margin: 10px 7px;
            border-radius: 50%;
            border: 1px solid #eee;
            background: #333;
            transition: all .3s ease;
            cursor: pointer;
        }
        button{
            display: none;
        }
        li.slick-active{
            background: white;
            // width: 20px;
            border-radius: 10px;
        }
    }
}
#news{
    margin: 30px 0 0;
    padding: 0;
    .news-parent-container{
        display: flex;
        flex-wrap: wrap;
        font-family: PierSans;
        padding: 65px 0;
        border-bottom: 1px solid #eee;
    }
    .month-sort{
        border-bottom: 5px solid #eee;
        margin-top: 50px;
    }
    .news-date{
        width: 100%;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: PierSans;
    }
    .news-category{
        color: #757575;
        font-family: 18px;
    }
    .news-title{
        font-size: 30px;
        color: $main-green;
        margin: 15px 0 20px;
        font-weight: bold;
    }
    .news-img{
        display: block;
    }
}
#pressroom{
    background: $main-green;
    color: white;
    font-family: PierSans;
    font-weight: bold;
    text-align: center;
    padding: 110px 0;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0;
    top: -5px;
}
.partition-subtitle{
    font-size: 24px;
    font-family: PierSans;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
}
#contact{
    .flex{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .section-title{
        font-size: 48px;
        margin-bottom: 10px;
        width: 100%;
    }
    .section-subtitle{
        font-size: 30px;
        width: 100%;
    }
    .seperator{
        margin: 50px 0;
        border-width: 3px;
        border-color: #555;
    }
    .form-caption{
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: PierSans;
        font-size: 13px;
        margin-bottom: 10px;
        color: #555;
    }
    .mild-input{
        width: 100%;
        outline: none;
        padding: 10px;
        font-size: 15px;
        font-family: SkModern;
        color: #222;
    }
    .mild-input:focus{
        border: 1px solid $main-green;
    }
    .tall{
        min-height: 120px;
        resize: vertical;
    }
    .form-group{
        margin: 15px 0;
        padding: 0 20px;
    }
}
#contactForm{
    display: flex;
    flex-wrap: wrap;
}
//parentContainer end


//newsletter start
#newsletter{
    padding: 80px 0;
    .newsletter-title{
        font-family: PierSans;
        font-weight: bold;
        font-size: 52px;
        text-align: center;
    }
    form{
        padding: 80px 0;
        text-align: center;

        .underlined-input{
            border-bottom: 1px solid #aaa;
            width: 300px;
            height: 38px;
            text-align: left;
            margin: 0px 30px;
            padding-left: 10px;
            font-family: Akrobat;
            outline: none;
            vertical-align: top;
            font-size: 18px;
        }
    }
}
//newsletter end

// footer start
#footer{
    color: #FFF;
    background: #000;
    padding: 50px 0;
    font-family: SkModern;
    .footer-ul{
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: auto;
        margin-bottom: 50px;
        li{
            display: inline-block;
        }
    }
    .footer-2nd{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 80px auto 30px;
    }
    .sosmed-ul{
        li{
            display: inline-block;
            margin: 0 10px;
        }
    }
}
// footer end
