// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}


@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "Qanelas";
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "Akrobat";
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "MontserratB";
    src: url('../fonts/Montserrat-SemiBold.otf');
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "Qanelas";
    src: url('../fonts/Montserrat-Regular.ttf');
}

$container-width : 1220px;
$navbar-height: 74px;
.container{
    width: $container-width;
    margin: auto;
}

//init end

//pallette start
$main-color : #333;
$main-blue: #2babe2;
$main-green: rgb(130, 195, 71);
$main-grey: #82817d;
//pallette end
.contact-alert, .newsletter-alert{
    padding: 20px;
    font-family: Montserrat;
}
::selection {
  background: $main-green; /* WebKit/Blink Browsers */
  color: white;
  border: 1px solid $main-blue
}

.underlined{
    border-bottom: 3px solid rgba(255,255,255,0);
    padding-bottom: 10px;
    transition: all .2s ease;
}
.underlined:hover{
    border-bottom: 3px solid rgba(255,255,255,1);
    padding-bottom: 5px;
}
// navbar start
#navbar{
    z-index: 99;
    font-family: Montserrat;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    // border-bottom: 1px solid #eee;
    .container{
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }
    .logo-container{
        padding: 10px 0;
        img{
            display: block;
            // width: 90px;
        }
    }
    ul{
        padding: 20px 0 13px;
        li{
            display: inline-block;
            text-transform: uppercase;
            font-size: 14px;
            color: #585858;
            cursor: pointer;
        }
    }
    .navbar-navigation{
        li{
            font-family: Montserrat;
            margin: 0px 20px;
            padding: 0px 2px 10px;
            transition: all .3s ease;
            border-bottom: 2px solid transparent;
            text-transform: capitalize;
            letter-spacing: 1px;

            a{
                padding: 0px 2px 10px;
                color: $main-grey;
            }
        }
        li.active{
                border-bottom: 2px solid #a7e0e9;
        }
        li:hover{
                border-bottom: 2px solid #a7e0e9;

        }
    }
    .navbar-function{
        display: none;
        li{
            margin-left: 20px;
        }
    }
    #navbarQty{
        color: $main-blue;
        cursor: pointer;
    }
    #navbarQty:before{
        content: "(";
    }
    #navbarQty:after{
        content: ")";
    }
}

#navbar.scrolled{

}
#navbar.hide{
    opacity: 0;
    top: -75px;
}

#productNotFound{
    height: 300px;
    margin-top: 80px;
    text-align: center;
    font-family: Montserrat;
    .container{
        height: 300px;
        margin-top: 80px;
        text-align: center;
        font-family: Montserrat;
    }
}
.pagination{
    display: flex;
    width: 500px;
    margin: 30px auto;
    text-align: center;
    justify-content: space-around;
    font-family: Montserrat;
    li{
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
    li.active{
        border: 1px solid #aaa;
    }
    li.disabled{
        cursor: default;
    }
}

#productDrop{
    position: fixed;
    width: 100%;
    z-index: 98;
    top: 74px;
    opacity: .5;
    left: 0;
    /* min-height: 230px; */
    background: #82817d;
    transition: all .5s ease;
    /* padding-top: 30px; */
    max-height: 0px;
    overflow: hidden;
    a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .product-drop-module{
        width: 12.5%;
        cursor: pointer;
        // padding: 10px 10px;
        margin-bottom: 5px;
        align-self: flex-end;
        height: 100px;
        position: relative;
        img{
            display: block;
            margin: auto;
            transition: all .3s ease;
            /* transform: translate(-50%, -50%); */
            align-self: inherit;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .product-drop-module:hover{
        filter: contrast(70%)
    }

    .product-name{
        text-align: center;
        color: white;
        font-family: Montserrat;
        width: 100%;
        margin: 10px auto;
        font-size: 11px;
        position: absolute;
        top: 85%;
    }
    .navbar-caption{
        width: 100%;
        font-family: Montserrat;
        color: white;
        padding: 0px 0 20px;
        // border-top: 1px solid white;
        text-align: center;
        font-size: 15px;
    }
    .product-dd-ul{
        text-align: center;
        margin: 20px 0 10px;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-family: Montserrat;
        border-bottom: 1px solid white;
        li{
            cursor: pointer;
            display: inline-block;
            color: white;
            padding: 0;
            margin: 0 10px;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            transition: all .3s ease;
        }
        li:hover{
            border-bottom: 2px solid white;
        }
    }
}
#productDrop.active{
    position: fixed;
    width: 100%;
    z-index: 98;
    top: 74px;
    opacity: 1;
    left: 0;
    max-height: 300px;
    padding: 30px;
}
// navbar end

//parentContainer start
#parentContainer{
    // margin-top: 106px;
    // min-height: 100vh;
}
.section-container{
    margin: 10px 0;
    padding: 20px 0;
    position: relative;
    opacity: 0;
    top: 50px;
    transition: all .6s ease;
}
.section-container.active{
    top: 0;
    opacity: 1;
}
.section-title{
    font-family: MontserratB;
    font-size: 53px;
    font-weight: bold;
    letter-spacing: 0px;
    margin-bottom: 30px;
}
.paragraph{
    color: #696969;
    font-family: Montserrat;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 30px;
    ul{
        padding: 10px 0;
    }

}
.dotted-ul{
    margin: 0px 5px 0px;
    li{
        list-style: disc;
        list-style-position: inside;
    }
}
.section-type-paragraph{
    ul{
        margin: 0px 5px 0px;
        li{
            list-style: disc;
            list-style-position: inside;
        }
    }
}
.green{
    color: $main-green;
    color: black;
}
.bg-green{
    background-color: $main-green;
    border: 1px solid $main-green;
}
.blue{
    color: $main-blue;
    color: black;
}
.bg-blue{
    background-color: $main-blue;
    border: 1px solid $main-blue;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
    position: relative;
}
.seperator{
    // border-bottom: 5px solid black;
    z-index: 5;
    position: relative;
}
.pad-right{
    padding-right: 10%;
}
.outline-btn{
    // padding: 10px 25px;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    transition: all .2s ease;
    user-select: none;
    a{
        padding: 10px 25px;
        display: block;
    }
}
.outline-btn.outline-green{
    color: $main-green;
    border: 1px solid $main-green;
}
.outline-btn.outline-blue{
    color: $main-blue;
    border: 1px solid $main-blue;
}
.bg-btn{
    padding: 10px 15px;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s ease;
    user-select: none;
}
.bg-btn.bg-green:hover{
    color: $main-green;
    border: 1px solid $main-green;
    background: white;
}
.bg-btn.bg-blue:hover{
    color: $main-blue;
    border: 1px solid $main-blue;
    background: white;
}
.bg-btn:active{
    transform: translateY(5px) scale(.95)
}
.underlined-btn{
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid $main-green;
    cursor: pointer;
}
.section-subtitle{
    font-family: MontserratB;
    font-size: 20px;
}
.form-group{
    font-family: Montserrat;
}
.required:after{
    content: " *";
    color: red;
}
.mild-input{
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 7px 5px;
}
.slick-dots{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    li{
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 10px 7px;
        border-radius: 50%;
        border: 1px solid #eee;
        background: #333;
        transition: all .3s ease;
        cursor: pointer;
    }
    button{
        display: none;
    }
    li.slick-active{
        background: white;
        // width: 20px;
        border-radius: 10px;
    }
}
#indexSlider, .section-type-slider{
    max-height: 100vh;
    overflow: hidden;
    padding: 0px 0;
    margin-top: 0;
    top: 0;
    transition: all 1s ease;
    .slider-container{
        padding: 0px 0;
    }
    .slider-item{
        min-height: 100vh;
        position: relative;
        overflow: hidden;
        img{
            display: block;
            margin: auto;
        }
    }
    .hero-video{
        width: 100%;
        min-height: 110vh;
        height: 100%;
        position: relative;
        top: -5vh;
    }
    .slick-dots{
        bottom: 13%;
    }
    .slide-bg{
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        width: 100%;
    }
    .slide-btm{
        position: absolute;
        right: 25%;
        bottom: 0;
        z-index: 6;
        transform: translateX(50%);
        height: 90%;
    }
    .floating-text{
        width: 600px;
        font-family: MontserratB;
        position: absolute;
        top: 50%;
        left: 20%;
        z-index: 5;
        transform: translateY(-50%);
        .floating-title{
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .floating-paragraph{
            font-size: 20px;
        }
    }
}


#About{
    .container{
        display: flex;
    }
    .section-title:after{
        content: "";
        width: 100px;
        border-bottom: 5px solid black;
        display: block;
        margin-top: 20px;
    }
    img{
        display: block;
        width: 100%;
    }
    .video{
        width: 100%;
        height: 343px;
        display: block;
        right: 0;
        margin: 70px 0;
    }
}
.img-box{
    background: #eee;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        transition: all .3s ease;
    }
}
.img-box:hover{
    transform: scale(0.9);
    img{
        transform: translate(-50%, -50%) scale(0.8);
    }
}
#Principles{
    .paragraph{
        width: 450px;
    }
    .ingredient-flex{
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
    }
    .ingredient-module{
        width: 25%;
        text-align: center;
        padding: 0 20px;
        outline: none;
        .module-caption{
            font-family: MontserratB;
            color: black;
            margin: 25px 0 10px;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
        }
        .module-subcaption{
            color: #696969;
            font-family: Montserrat;
            font-size: 12px;
            padding: 0 20px;
            line-height: 17px;
        }
    }
}

#Solutions{
    background-image: url(../img/home/solution-bg.jpg);
    min-height: 750px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

#IAMNOTPLASTIC{
    margin-top: 80px;
    .section-title{
        text-align: center;
    }
    .paragraph{
        font-weight: normal;
    }
    .gallery-flex{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .gallery-module{
        width: 25%;
        border: 1px solid white;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        height: 280px;
        .gallery-caption{
            display: none;
        }
        img{
            display: block;
            width: 100%;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .gallery-owner-image {
            max-width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 3px
        }
        .gallery-like, .gallery-comment{
            margin-right: 5px;
        }
        .hover-tint{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0.4);
             background: -moz-linear-gradient(-45deg, rgba(43,171,226,0.56) 0%, rgba(130,195,71,0.55) 100%);
             background: -webkit-linear-gradient(-45deg, rgba(43,171,226,0.56) 0%,rgba(130,195,71,0.55) 100%);
             background: linear-gradient(135deg, rgba(43,171,226,0.56) 0%,rgba(130,195,71,0.55) 100%);
            z-index: 5;
            opacity: 0;
            filter: hue-rotate(0deg);
            transition: opacity .3s ease;
        }
        .module-functions{
            height: 55px;
            background: rgba(255, 255, 255, 1);
            border-bottom: 2px solid $main-green;
            border-top: 2px solid $main-blue;
            z-index: 6;
            width: 100%;
            position: absolute;
            bottom: -50px;
            left: 0;
            transition: all .3s ease;
            opacity: 0;
            font-family: MontserratB;
            font-weight: bold;
        }
        .left{
            float: left;
            padding: 2px;
        }
        .right{
            float: right;
            padding: 13px 6px;
        }
        .delay-1{
            transition: all .2s ease;
            padding-left: 5px;
            position: relative;
            bottom: -50px;
            opacity: 0;
        }
        .delay-2{
            transition: all .2s ease;
            margin-right: 10px;
            position: relative;
            bottom: -50px;
            opacity: 0;
            display: inline-block;
        }
        .delay-3{
            transition: all .2s ease;
            position: relative;
            bottom: -50px;
            opacity: 0;
            display: inline-block;
        }
        .ico{
            width: 25px;
        }
    }
    .gallery-module:hover{
        .hover-tint{
            opacity: 1;
            filter: hue-rotate(360deg);
            transition: all .3s ease, filter 5s ease;
        }
        .module-functions{
            bottom: 0;
            opacity: 1;
        }
        .delay-1{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.1s;
        }
        .delay-2{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.2s;
        }
        .delay-3{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.3s;
        }
    }
}

#asSeen{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    .side-title{
        // padding: 30px 80px 30px 0;
        margin-bottom: 50px;
        color: black;
        font-family: MontserratB;
        font-size: 30px;
        display: block;
        vertical-align: top;
        font-weight: bold;
    }
    .sponsors-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        vertical-align: top;
    }
    .sponsor-module{
        position: relative;
        top: 0;
        padding: 10px 0;
        align-self: center;
        opacity: 0.6;
        transition: all .3s ease;
        border-bottom: 2px solid white;
        a{
            display: block;
        }
    }
    .sponsor-module:hover{
        // padding: 10px;
        opacity: 1;
        top: -10px;
        border-bottom: 2px solid black;
    }
}

#pageBanner{
    min-height: 30vw;
    background: "";
}
#aboutBanner{
    min-height: 35vw;
    background-image: url('../img/hero-dummy.png');
    background-size: cover;
    background-position: center center;
    margin: 0;
    transition: all .3s ease;
    // margin-top: $navbar-height;
}
#aboutBanner.played{
    min-height: 100vh;
}

#History{
    .section-title:after{
        content: "";
        width: 100px;
        border-bottom: 5px solid black;
        display: block;
        margin-top: 20px;
    }
}
#scrollAbout{
    background-image: url('http://www.avanieco.com/assets/front/img/about-image-product.jpg');
    min-height: 35vw;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #eee;
    transition: none;
    top: 0;
    opacity: 1;
    background-attachment: fixed;
}
#mediaSlider{
    margin-top: 50px;
    padding: 0;
    display: none;
    .container{
        padding: 20px 0 40px;
    }
    .media-slide-items{
        position: relative;
        outline: none;
        padding: 30px 0;
    }
    .white-title{
        font-family: MontserratB;
        color: white;
        font-size: 24px;
    }
    .quote-paragraph{
        color: #333;
        font-family: Montserrat;
        margin: 20px 0 30px;
        width: 55%;
        line-height: 28px;
        font-weight: 500;
        font-size: 14px;
    }
    .white-author{
        font-family: Montserrat;
        font-style: italic;
        color: white;
    }
    .right-avatar{
        right: 20%;
        bottom: 0;
        position: absolute;
        height: 100%;
    }
    .slick-dots{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.w40{
    width: 40%;
    position: relative;
}
.w60{
    width: 50%;
    position: relative;
}
#news{
    margin: 30px 0 0;
    padding: 0;
    img{
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .w40{
        overflow: hidden;
    }
    .w60 {
        width: 50%;
        position: relative;
        margin-left: 40px;
        padding-right: 50px;
    }
    .news-parent-container{
        display: flex;
        flex-wrap: wrap;
        font-family: MontserratB;
        padding: 65px 0;
        border-bottom: 1px solid #eee;
    }
    .month-sort{
        border-bottom: 5px solid #eee;
        margin-top: 50px;
    }
    .news-date{
        width: 100%;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: MontserratB;
    }
    .news-category{
        color: #757575;
        font-family: 18px;
    }
    .news-title{
        font-size: 30px;
        color: $main-green;
        margin: 15px 0 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .news-title:hover{
        text-decoration: underline;
    }
    .news-img{
        display: block;
    }
    .underlined-btn{
        transition: all .3s ease;
        position: relative;
        top: 0;
    }
    .underlined-btn:hover{

        top: -3px;
        padding-bottom: 8px;
    }
}
#relatedNews{
    margin: 0px 0 0;
    padding: 0;

    .related-news-title{
        font-family: MontserratB;
        border-top: 5px solid #eee;
        padding: 30px 0;
        font-size: 22px;
    }
    .news-parent-container{
        display: flex;
        flex-wrap: wrap;
        font-family: MontserratB;
        padding: 35px 0 65px;
        border-bottom: 1px solid #eee;
    }
    .month-sort{
        border-bottom: 5px solid #eee;
        margin-top: 50px;
    }
    .news-date{
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        font-family: Montserrat;
        color: #757575;
    }
    .news-category{
        color: #757575;
        font-family: 18px;
    }
    .news-title{
        font-size: 30px;
        color: $main-green;
        margin: 15px 0 20px;
        font-weight: bold;
    }
    .news-title:hover a{
        text-decoration: underline;
    }
    .news-img{
        display: block;
    }
}
#pressroom{
    background: $main-green;
    color: white;
    font-family: MontserratB;
    font-weight: bold;
    text-align: center;
    padding: 110px 0;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0;
    top: -5px;
}
.partition-subtitle{
    font-size: 24px;
    font-family: MontserratB;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
}
#connect{

}
#contact{
    padding: 0;
    margin-top: 105px;
    .flex{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .section-title{
        font-size: 48px;
        margin-bottom: 10px;
        width: 100%;
    }
    .section-subtitle{
        font-size: 30px;
        width: 100%;
    }
    .seperator{
        margin: 50px 0;
        border-width: 3px;
        border-color: #555;
    }
    .form-caption{
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: MontserratB;
        font-size: 13px;
        margin-bottom: 10px;
        color: #555;
    }
    .mild-input{
        width: 100%;
        outline: none;
        padding: 10px;
        font-size: 15px;
        font-family: Montserrat;
        color: #222;
    }
    .mild-input:focus{
        border: 1px solid $main-green;
    }
    .tall{
        min-height: 120px;
        resize: vertical;
    }
    .form-group{
        margin: 15px 0;
        padding: 0 20px;
    }
    img{
        display: block;
        margin: 70px auto 0;
    }
    .img-subcaption{
        text-align: center;
        font-family: MontserratB;
        color: #bcbcbc;
        margin: 30px auto;
        font-weight: normal;
    }
    b{
        color: #969696;
    }
}
#contactForm{
    display: flex;
    flex-wrap: wrap;
}
.pad-around{
    padding: 80px 50px 50px 0;
}
#productHero{
    // background-image: url('../img/hero-dummy-2.png');
    padding: 0;
    margin-top: $navbar-height;
    margin-bottom: 0;
    .flex{
        display: flex;
        height: 550px;
    }
    img{
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

    }
}
#productBanner{
    background-image: url('../img/hero-dummy-2.png');
    min-height: 30vw;
    background-position: center center;
    background-size: cover;
    margin-top: 0;
}
#productPrinciples{
    margin-top: 0;
    margin-bottom: 0;
    .section-title{
        font-size: 24px;
        text-align: center;
        padding: 40px 0 10px;
        line-height: 30px;
    }
    .paragraph{
        width: 450px;
    }
    .ingredient-flex{
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
        .slick-dots{
            bottom: -55px;
            ul{

            }
            li{
                background: #eee;
            }
            li.slick-active{
                background: $main-green;
            }
        }
    }
    .ingredient-module{
        width: 25%;
        text-align: center;
        padding: 0 20px;
        .img-container{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: #eee;
            position: relative;
            display: block;
            margin: auto;
            transition: all .3s ease;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all .3s ease;
                cursor: pointer;
                border: 1px solid white;
            }
        }
        .img-container:hover{
            transform: scale(0.9);
            img{
                transform: translate(-50%, -50%) scale(0.9);
                // border: 1px solid black;
            }
        }
        .module-caption{
            font-family: MontserratB;
            color: black;
            margin: 20px 0 0;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
        }
        .module-subcaption{
            color: #696969;
            font-family: Montserrat;
            font-size: 12px;
            padding: 0 20px;
            display: none;
        }
    }

}
#productPrinciples.grey{
    background: #f0f0f0;
    .slick-dots{
        bottom: -55px;
        ul{

        }
        li{
            background: #fff;
        }
        li.slick-active{
            background: $main-green;
        }
    }
    .img-container{
        background: white;
    }
}
.vertical-center{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#productCustomizable{
    background-image: url('../img/ecobags/ecobags-banner.png');
    margin-top: 0;
    margin-bottom: 0;
    .container{
        min-height: 450px;
        position: relative;
    }
    .paragraph{
        color: #454545;
    }
    .customizable-img{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
        width: 43%;
    }
}
#productCustomizable.no-bg{
    background: none;
}
#productInformation{
    border-top: 1px solid #d3d3d3;
    padding-top: 80px;
    padding-bottom: 0;
    margin-bottom: -5px;
    margin-top: 0;
    .container{
    }
    .img-thumb-container{
        position: relative;
        .prevArrow{
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;
            cursor: pointer;
            height: 35px;
            transition: all .3s ease;
            .arrow{
                position: absolute;
                border-width: 2px;
                width: 10px;
                height: 10px;
                top: 50%;
                left: 57%;
                transform: translate(-50%, -50%) rotateZ(45deg);
            }
        }
        .nextArrow{
            position: absolute;
            right: -50px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;
            cursor: pointer;
            height: 35px;
            transition: all .3s ease;
            .arrow{
                position: absolute;
                border-width: 2px;
                width: 10px;
                height: 10px;
                top: 50%;
                left: 43%;
                transform: translate(-50%, -50%) rotateZ(-135deg);
            }
        }
        .slick-disabled{
            opacity: 0;
        }
    }
    .border-container{
        display: inline-block;
        width: 35px;
        height: 55px;
        border: 1px solid #bebebe;
        padding: 7px;
        outline: none;
    }
    .section-title{
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 80px;
    }
    .product-adapter{
        display: flex;
        font-family: Arial;
        padding-bottom: 80px;
        margin-top: 80px;
        border-bottom: 1px solid #c4c4c4;
    }
    .product-name{
        font-weight: bold;
        text-transform: uppercase;
    }
    .product-information-paragraph{
        margin-top: 20px;
        line-height: 25px;
        color: #515151;

    }
    .size-parent{
        // border-bottom: 1px solid #dddddd;
        // margin-bottom: 30px;
        padding: 30px 0;
        li{
            padding: 10px 15px;
            text-align: center;
            display: inline-block;
            border: 1px solid #ddd;
            min-width: 65px;
            border-radius: 8px;
            font-size: 14px;
            margin-right: 5px;
            cursor: pointer;
            transition: all .3s ease;
        }
        li:hover{
            border: 1px solid #555;
        }
        li.active{
            border: 2px solid $main-green;
        }
        li.black{
            color: #222;
            border: 1px solid #222;
            display: none;
        }
    }
    .w30{
        width: 34%;
    }
    .product-img-container{
        width: 320px;
        height: 320px;
        margin: auto;
        overflow: hidden;
        position: relative;
        border: 1px solid white;
        .img-bind{
            width: 320px;
            height: 320px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            transition: background 0.3s ease;
        }
        .img-bind.zoomed{
            width: 550px;
            height: 550px;
        }
    }
    .img-thumb-slide{
        position: relative;
        display: flex;
        width: 235px;
        margin: 50px auto 0;
        justify-content: space-between;
        outline: none;
        .img-thumb{
            width: 55px;
            height: 55px;
            border: 1px solid #bebebe;
            margin-right: 5px;
            outline: none;
            cursor: pointer;
            opacity: 0.6;
            img{
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: auto;
            }
        }
        .img-thumb.active{
            border: 1px solid $main-green;
            opacity: 1;
        }
        .img-thumb:hover{
            opacity: 0.8;
        }
    }
    .w70{
        width: 66%;
        padding-left: 40px;
    }
}



.arrow{
    position: relative;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    display: inline-block;
    outline: none;
}
.arrow.down{
    transform: rotateZ(-45deg);
    margin-left: 5px;
    top: -3px;
}
.arrow.left{
    transform: rotateZ(45deg);
}
.arrow.right{
    transform: rotateZ(-135deg);
}

#productEnquiry{
    display: none;
    padding: 90px 0 50px;
    .paragraph{
        vertical-align: top;
        width: 50%;
        display: inline-block;
        font-size: 19px;
    }
    .outline-btn{
        float: right;
        vertical-align: top;
    }
}

#mediaBanner{
    margin-top: $navbar-height;
    padding: 0;
    margin-bottom: 60px;
    .container{
        position: relative;
    }
    .slider-item{
        position: relative;
    }
    .slider-news{
        position: absolute;
        top: 30px;
        left: 30px;
        background: white;
        max-width: 405px;
        padding: 20px 30px;
    }
    .section-title{
        font-size: 30px;
        font-weight: normal;
    }
    .news-category{
        font-family: MontserratB;
        border-bottom: 1px solid #333;
        font-size: 20px;
        display: inline-block;
        margin-bottom: 50px;
        color: #333;
    }
    .slick-dots{
        bottom: 0px;
    }
}
.play-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
    height: 100px;
    transition: padding .2s cubic-bezier(0.8, -0.23, 0.22, 1.02), border .5s cubic-bezier(0.85, -0.19, 0.07, 1.1), transform .1s ease;
    border: 2px solid rgba(0,0,0, 0);
    border-radius: 50%;
}
.play-btn:hover{
    transform: translate(-50%, -50%) rotateZ(360deg) scale(0.95);
    border: 2px solid $main-green;
    padding: 5px;
}
.play-btn:active{
    // transition: none;
    transform: translate(-50%, -50%) rotateZ(360deg) scale(0.85);
    border: 2px solid $main-green;
    padding: 6px;
}
.play-btn.active{
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0);
}

#pressRelease{
    margin-top: $navbar-height;
    .container{
        border-bottom: 5px solid #d9d6d6;
        padding-bottom: 40px;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .date{
        margin-bottom: 10px;
        color: #acacac;
    }
    .section-title{
        width: 100%;
        font-size: 36px;
    }
    .press-module{
        width: 30%;
        position: relative;
        .video-btn.active{
            position: fixed;
        }
        .play-btn{
            width: 50px;
            height: 50px;
            top: -60%;
        }
        .press-img{
            display: block;
            width: 100%;
        }
    }
    .press-title{
        font-family: MontserratB;
        font-weight: bold;
        font-size: 19px;
    }
    .press-functions{
        padding: 10px 0;
        ul{

        }
        li{
            display: inline-block;
            padding: 10px 0;
            cursor: pointer;
            margin-right: 20px;
            width: 30px;
        }
        img{
            display: block;
        }
        li:hover{
            opacity: 0.7;
        }
        li:active{
            transform: translateY(2px);
        }
    }
}

.video-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
    z-index: 90;
    cursor: pointer;
    background: transparent;
    .youtube{
        display: none;
        height: 100%;
        width: 100%;
    }
    .cross-btn{
        position: absolute;
        top: 0px;
        right: 20px;
        z-index: 99999999999;
        color: $main-green;
        display: none;
        font-size: 80px;
        transform: rotateZ(45deg);
        user-select: none;
        outline: none;
        a{
            outline: none;
        }
    }
}
.video-btn.active{
    height: 80%;
    width: 80%;
    border-radius: 0;
    background: black;
    .play-btn{
        opacity: 0;
        display: none !important;
    }
    .youtube{
        display: block;
    }
    .cross-btn{
        display: block;
    }
}

#videoCampaign{
    margin-top: 34px;
    .container{
        border-bottom: 5px solid #d9d6d6;
        padding-bottom: 40px;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .date{
        margin-bottom: 10px;
        color: #acacac;
    }
    .section-title{
        width: 100%;
        font-size: 36px;
    }
    .press-module{
        width: 30%;
        .press-img{
            display: block;
            width: 100%;
        }
    }
    .press-title{
        font-family: MontserratB;
        font-weight: bold;
        font-size: 19px;
    }
    .press-functions{
        padding: 10px 0;
        ul{

        }
        li{
            display: inline-block;
            padding: 10px 0;
            cursor: pointer;
            margin-right: 20px;
            width: 30px;
        }
        img{
            display: block;
        }
        li:hover{
            opacity: 0.7;
        }
        li:active{
            transform: translateY(2px);
        }
    }
}

#extraCampaign{
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .press-functions{
        padding: 10px 0;
        ul{

        }
        li{
            display: inline-block;
            padding: 10px 0;
            cursor: pointer;
            margin-right: 20px;
            width: 30px;
        }
        img{
            display: block;
        }
        li:hover{
            opacity: 0.7;
        }
        li:active{
            transform: translateY(2px);
        }
    }
    .section-title{
        font-size: 32px;
        display: inline-block;
        margin-bottom: 0;
        width: 50%;
    }
    .w40{
        width: 45%;
        font-family: MontserratB;
        display: flex;
        // background: #eee;
        border: 1px solid white;
    }
    .ul-before{
        ul{
            margin-left: 80px;
        }
        li{
            margin: 17% 0;
            width: 100%;
            display: block;
        }
        li:before{
            content: "";
            background-image: url('../img/global/ico-download.png');
            height: 20px;
            width: 40px;
            position: relative;
            top: 3px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
#newsContent{
    margin-top: $navbar-height;
    padding: 0;
    .news-title{
        @extend .section-title;
        font-size: 40px;
        margin-top: 20px;
    }
    .news-time-container{
        font-family: Montserrat;
        padding: 50px 0 0px;
    }
    .news-lapse{

        color: #989898;
    }
    .news-paragraph{
        padding-bottom: 50px;
    }
}
//parentContainer end


//newsletter start
#newsletter{
    padding: 50px 0 40px;
    border-top: 5px solid;

    .newsletter-title{
        font-family: MontserratB;
        font-weight: bold;
        font-size: 52px;
        text-align: center;
    }
    form{
        padding: 80px 0 0;
        text-align: center;
        font-family: MontserratB;
        .underlined-input{
            border-bottom: 1px solid #aaa;
            width: 300px;
            height: 38px;
            text-align: left;
            margin: 0px 30px;
            padding-left: 10px;
            font-family: Montserrat;
            outline: none;
            vertical-align: top;
            font-size: 14px;
        }
    }
}
//newsletter end

// footer start
#footer{
    color: #FFF;
    background: #000;
    padding: 50px 0;
    font-family: Montserrat;
    .footer-ul{
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
        padding: 0 5px;
        padding-left: 10px;
        li{
            display: inline-block;
        }
    }
    .footer-2nd{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 80px auto 30px;
    }
    .sosmed-ul{
        li{
            display: inline-block;
            margin: 0 10px;
            width: 30px;
            img{
                display: block;
            }
        }
    }
}
// footer end

@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #mediaBanner{
        .container{
            width: 800px;
        }
    }
    .month-sort{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #news{
        .paragraph{
            font-size: 12px;
            line-height: 23px;
        }
        .news-title {
            font-size: 27px;
            color: #82c347;
            margin: 5px 0 20px;
            font-weight: bold;
            cursor: pointer;
        }
        .w40{
            width: 100%;
            height: 210px;
            margin-bottom: 20px;
        }
        .w60{
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .container{
            width: 800px;
        }
        .news-parent-container{
            width: 45%;
            img{
                width: 100%;
            }
            .w50{
                width: 100%;
            }
        }
        .underlined-btn:hover{
            top: 0;
            padding-bottom: 5px;
        }
    }

    #newsContent{
        .container{
            width: 800px;
        }
        .news-lapse{
            font-size: 12px;
        }
        .news-category{
            font-size: 12px;
        }
    }
}
.socmed-handle{
    position: relative;
    height: 35px;
    width: 35px !important;
    // background: #eee;
    // padding: 0 !important;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .share-box{
        width: 35px ;
        height: 35px;
        background: rgb(135, 145, 181);
        display: inline-block;
        // border-radius: 50%;
        position: absolute;
        top: 0px;
        transition: all .4s cubic-bezier(0.52, 0.02, 0.48, 1.6);
        right: 0;
        opacity: 0;
        transform: rotateZ(-45deg);
        border-radius: 50%;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .1s ease;
            // width: 60%;
        }

    }
    .share-twitter{
        background: #00aced;
    }
    .share-fb{
        background: #3b5998;
        transition-delay: 0.05s;
    }
    .share-gp{
        background: #dd4b39;
        transition-delay: 0.1s;
    }

}
.socmed-handle:hover{
    opacity: 1 !important;

    .share-box{
        opacity: 1;
        transform: rotateZ(0);
        border-radius: 0;
    }
    .share-twitter{
        right: -36px;
    }
    .share-fb{
        right: -72px;
    }
    .share-gp{
        right: -108px;
    }
    .share-box:hover{
        opacity: 0.9;

        img{
            transform: translate(-50%, -50%) scale(0.9);
        }
    }
}

//pageBuilding tools
.nav-margin{
    margin-top: $navbar-height;
}
.slide-position-left{
    position: absolute;
    left: 10%;
}

.slide-position-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.slide-position-right{
    position: absolute;
    right: 10%;
}



.slide-position-top{
    position: absolute;
    top: 10%;
}

.slide-position-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slide-position-bottom{
    position: absolute;
    bottom: 0;
}

.slide-position-center.slide-position-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//pageBuilding tools
