// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


@font-face {
    font-family: "SkModern";
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "MontserratB";
    src: url('../fonts/MontserratB-Regular.ttf');
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "MontserratB";
    src: url('../fonts/Montserrat-SemiBold.otf');
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
}

$container-width : 100%;
$navbar-height: 67px;
.container{
    width: $container-width;
    margin: auto;
    padding: 0 25px;
}
.section-type-paragraph{
    ul{
        margin: 0px 5px 0px;
        li{
            list-style: disc;
            list-style-position: inside;
        }
    }
}
//init end

//pallette start
$main-color : #333;
$main-blue: #2babe2;
$main-green: #82c347;
$main-grey: #82817d;
//pallette end

::selection {
  background: $main-green; /* WebKit/Blink Browsers */
  color: white;
  border: 1px solid $main-blue
}

.underlined{
    border-bottom: 3px solid rgba(255,255,255,0);
    padding-bottom: 10px;
    transition: all .2s ease;
}
.underlined:hover{
    border-bottom: 3px solid rgba(255,255,255,1);
    padding-bottom: 5px;
}
// navbar start
#navbar{
    z-index: 99;
    font-family: SkModern;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0, 0.1);
    // border-bottom: 1px solid #eee;
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
    }
    .logo-container{
        img{
            display: block;
            width: 120px;
            padding: 10px 0;
        }
    }
    ul{
        display: none;
        padding: 20px 0 13px;
        li{
            display: inline-block;
            text-transform: uppercase;
            font-size: 14px;
            color: #585858;
            cursor: pointer;
        }
    }
    .navbar-navigation{
        display: block;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 0;
        left: -300vw;
        height: 100%;
        transition: all .5s ease;
        background: #424242;
        padding: 8% 0;
        li{
            text-align: center;
            display: block;
            padding: 20px 20px 20px;
            transition: all .3s ease;
            font-size: 18px;
            transition: all .3s ease;
            color: white;
            position: relative;
            left: -50%;
            top: 180px;
            overflow: hidden;
            max-height: 50px;
            text-transform: capitalize;
            letter-spacing: 1px;
            font-family: Montserrat;

            a{
                padding: 0px 2px 10px;
                display: block;
                font-family: Montserrat;
            }
        }
        li.active{
            // border-right: 2px solid $main-green;
            // color: $main-blue;
            max-height: 100vh;
        }
        li:hover{
            // border-right: 2px solid $main-green;
            // max-height: 100vh;
        }
    }
    .navbar-navigation.active{
        left: 0;
        li{
            top: 0;
            left: 0;
        }
    }
    .navbar-function{
        li{
            margin-left: 20px;
        }
    }
    #navbarQty{
        color: $main-blue;
        cursor: pointer;
    }
    #navbarQty:before{
        content: "(";
    }
    #navbarQty:after{
        content: ")";
    }
}
.mobile-handle{
    width: 20px;
    float: right;
    // /* margin: 10px 0; */
    transition: all .3s ease;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    .mobile-lines{
        border: 1px solid $main-grey;
        margin: 5px 0px;
        transition: all .3s ease;
        position: relative;
    }
}
.mobile-handle.active{
    transform: rotateZ(180deg) translateY(50%);
    .mobile-lines{
        border: 1px solid #fff;
    }
    #line1{
        transform: rotateZ(45deg);
        top: 7px;
    }
    #line2{
        opacity: 0;
    }
    #line3{
        transform: rotateZ(-45deg);
        top: -7px;
    }
}
#navbar.scrolled{

}

#productDrop{
    // position: fixed;
    width: 100%;
    z-index: 98;
    // top: -535px;
    // opacity: .5;
    left: 0;
    min-height: 200px;
    transition: all .5s ease;
    padding-top: 25px;
    margin-top: 12px;
    // display: none;
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .product-drop-module{
        width: 50%;
        cursor: pointer;
        margin: -35px 0;
        margin-bottom: 5px;
        transform: scale(0.8);
        align-self: center;
        min-height: 140px;
        position: relative;
        img{
            display: block;
            margin: auto;
            transition: all .3s ease;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .product-drop-module:hover{
        filter: contrast(80%)
    }

    .product-name{
        text-align: center;
        color: white;
        font-family: SkModern;
        width: 95%;
        margin: 10px auto;
        font-size: 16px;
        position: absolute;
        top: 50%;
        font-size: 14px;
    }
    .navbar-caption{
        display: none;
        width: 100%;
        font-family: MontserratB;
        color: white;
        padding: 0px 0 20px;
        // border-top: 1px solid white;
        text-align: center;
        font-size: 18px;
    }
    .product-dd-ul{
        display: none;
    }
}
#productDrop.active{
    width: 100%;
    top: 10px;
    opacity: 1;
    left: 0;
    min-height: 200px;
    background: transparent;
    position: relative;
}
// navbar end

.video-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
    z-index: 90;
    cursor: pointer;
    background: transparent;
    .youtube{
        display: none;
        height: 100%;
        width: 100%;
    }
    .cross-btn{
        position: absolute;
        top: 0px;
        right: 20px;
        z-index: 99999999999;
        color: $main-green;
        display: none;
        font-size: 80px;
        transform: rotateZ(45deg);
        user-select: none;
    }
}
.video-btn.active{
    height: 80%;
    width: 80%;
    border-radius: 0;
    background: black;
    .play-btn{
        opacity: 0;
    }
    .youtube{
        display: block;
    }
    .cross-btn{
        display: block;
    }
}

//parentContainer start
#parentContainer{
    // margin-top: 106px;
    min-height: 100vh;
    transition: all .1s ease;

}
#parentContainer.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.section-container{
    margin: 10px 0;
    padding: 20px 0;
    position: relative;
    opacity: 0;
    top: 50px;
    transition: all .6s ease;
}
.section-container.active{
    top: 0;
    opacity: 1;
}
.section-title{
    font-family: MontserratB;
    font-size: 26px;
    font-weight: bold;
    // letter-spacing: 1px;
    margin-bottom: 10px;
}
.paragraph{
    color: #696969;
    font-family: Montserrat;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 30px;
    br{
        display: none;
    }
}
.dotted-ul{
    padding-left: 25px;
    margin: 5px 0 15px;
    li{
        list-style: disc;
    }
}
.green{
    color: $main-green;
    color: black;
}
.bg-green{
    background-color: $main-green;
    border: 1px solid $main-green;
}
.blue{
    color: $main-blue;
    color: black;
}
.bg-blue{
    background-color: $main-blue;
    border: 1px solid $main-blue;
}
.w100{
    width: 100%;
}
.w50{
    width: 100%;
    position: relative;
}
.seperator{
    border-bottom: 3px solid black;
}
// .pad-right{
//     padding-right: 10%;
// }
.outline-btn{
    padding: 10px 25px;
    font-family: SkModern;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    transition: all .2s ease;
    user-select: none;
}
.outline-btn.outline-green{
    color: $main-green;
    border: 1px solid $main-green;
}
.outline-btn.outline-blue{
    color: $main-blue;
    border: 1px solid $main-blue;
}
.bg-btn{
    padding: 10px 15px;
    font-family: SkModern;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s ease;
    user-select: none;
}
.bg-btn.bg-green:hover{
    color: $main-green;
    border: 1px solid $main-green;
    background: white;
}
.bg-btn.bg-blue:hover{
    color: $main-blue;
    border: 1px solid $main-blue;
    background: white;
}
.bg-btn:active{
    transform: translateY(5px) scale(.95)
}
.underlined-btn{
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid $main-green;
    cursor: pointer;
}
.section-subtitle{
    font-family: MontserratB;
    font-size: 20px;
}
.form-group{
    font-family: SkModern;
}
.required:after{
    content: " *";
    color: red;
}
.mild-input{
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 7px 5px;
}
.slick-dots{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    li{
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 10px 7px;
        border-radius: 50%;
        border: 1px solid #eee;
        background: #333;
        transition: all .3s ease;
        cursor: pointer;
    }
    button{
        display: none;
    }
    li.slick-active{
        background: $main-green;
        // width: 20px;
        border-radius: 10px;
    }
}
#indexSlider, .section-type-slider{
    max-height: 100vw;
    overflow: hidden;
    // background-color: #3d3d3d;
    padding: 0px 0;
    margin-top: 0;
    top: 0;
    transition: all 1s ease;
    .slider-container{
        padding: 0px 0;
    }
    .slider-item{
        // transform: scale(0.2);
        overflow: hidden;
        img{
            display: block;
            margin: auto;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
    }

    .hero-video{
        width: 100%;
        min-height: 110vh;
        height: 100%;
        position: relative;
        top: -5vh;
    }
    .slick-dots{
        bottom: 5%;
    }
    .slide-bg{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        // width: 100%;
    }
    .slide-btm{
        position: absolute;
        right: 50%;
        top: 40%;
        z-index: 6;
        transform: translateX(50%);
        width: 55%;
    }
    .floating-text{
        // width: 600px;
        font-family: MontserratB;
        position: absolute;
        // position: relative;
        text-align: center;
        padding: 20px;
        top: 30%;
        left: 50%;
        z-index: 5;
        width: 100%;
        transform: translate(-50%, -50%);
        .floating-title{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .floating-paragraph{
            font-size: 14px;
        }
    }
    .slider-container{
        padding: 0px 0;
    }
    .slider-item{
        min-height: 100vw;
        position: relative;
        .paragraph{
            display: none;
        }
        img{
            display: block;
            margin: auto;
        }
    }
}

#About{

    .container{
        // display: flex;
    }
    .section-title:after{
        content: "";
        width: 100px;
        border-bottom: 3px solid black;
        display: block;
        margin-top: 20px;
    }
    img{
        display: block;
        width: 100%;
    }
    .video{
        width: 100%;
        height: 343px;
        display: block;
        right: 0;
        margin: 30px 0;
    }
}

#Principles{
    .ingredient-flex{
        margin: 20px 0 50px;
        .slick-dots{
            bottom: -20px;
        }
    }
    .ingredient-module{
        width: 100%;
        text-align: center;
        padding: 20px 20px;
        img{
            display: block;
            margin: auto;
            width: 50%;
            margin-bottom: 15px;
        }
        .module-caption{
            font-family: MontserratB;
            color: black;
            margin: 10px 0;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
        }
        .module-subcaption{
            color: #696969;
            font-family: Montserrat;
            font-size: 12px;
            padding: 0 20px;
        }
    }
}

#Solutions{
    background: #eee;
    background-image: url(../img/home/solution-bg.jpg);
    min-height: 650px;
    background-position: 32% center;
    background-size: cover;
}

#IAMNOTPLASTIC{
    margin-top: 80px;
    .section-title{
        text-align: center;
    }
    .paragraph{
        font-weight: normal;
        margin-bottom: 0;
    }
    .gallery-flex{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .gallery-module{
        width: 50%;
        border: 1px solid white;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        height: 40vw;
        img{
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .hover-tint{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0.4);
             background: -moz-linear-gradient(-45deg, rgba(43,171,226,0.56) 0%, rgba(130,195,71,0.55) 100%);
             background: -webkit-linear-gradient(-45deg, rgba(43,171,226,0.56) 0%,rgba(130,195,71,0.55) 100%);
             background: linear-gradient(135deg, rgba(43,171,226,0.56) 0%,rgba(130,195,71,0.55) 100%);
            z-index: 5;
            opacity: 0;
            filter: hue-rotate(0deg);
            transition: opacity .3s ease;
        }
        .module-data{
            display: none;
        }
        .module-functions{
            height: 50px;
            background: rgba(255, 255, 255, 1);
            border-bottom: 2px solid $main-green;
            border-top: 2px solid $main-blue;
            z-index: 6;
            width: 100%;
            position: absolute;
            bottom: -50px;
            left: 0;
            transition: all .3s ease;
            opacity: 0;
            font-family: MontserratB;
            font-weight: bold;
        }
        .left{
            float: left;
            padding: 15px 10px;
        }
        .right{
            float: right;
            padding: 13px 6px;
        }
        .delay-1{
            transition: all .2s ease;

            position: relative;
            bottom: -50px;
            opacity: 0;
        }
        .delay-2{
            transition: all .2s ease;
            margin-right: 10px;
            position: relative;
            bottom: -50px;
            opacity: 0;
            display: inline-block;
        }
        .delay-3{
            transition: all .2s ease;
            position: relative;
            bottom: -50px;
            opacity: 0;
            display: inline-block;
        }
        .ico{
            width: 25px;
        }
    }
    .gallery-module:hover{
        img{
            // transform: scale(1);
        }
        .hover-tint{
            opacity: 1;
            filter: hue-rotate(360deg);
            transition: all .3s ease, filter 5s ease;
        }
        .module-functions{
            bottom: 0;
            opacity: 1;
        }
        .delay-1{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.1s;
        }
        .delay-2{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.2s;
        }
        .delay-3{
            bottom: 0;
            opacity: 1;
            transition-delay: 0.3s;
        }
    }
}

#asSeen{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    .side-title{
        // padding: 30px 80px 30px 0;
        color: black;
        font-family: MontserratB;
        font-size: 30px;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
    }
    .sponsors-container{
        margin-top: 30px;
        display: inline-block;
        vertical-align: top;
        display: flex;
        flex-wrap: wrap;
    }
    .sponsor-module {
        width: 33%;
        padding: 10px;
        align-self: center;
    }
    img{
        width: 100%;
        display: block;
    }
}

#pageBanner{
    min-height: 50vw;
    background: "";
}
#aboutBanner{

    min-height: 50vw;
    background-image: url('../img/hero-dummy.png');
    background-size: cover;
    background-position: center center;
    margin: 0;
    margin-top: $navbar-height;
}
.img-box{
    background: #eee;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
    }
}
#History{
    .section-title:after{
        content: "";
        width: 100px;
        border-bottom: 3px solid black;
        display: block;
        margin-top: 20px;
    }
}
#scrollAbout{
    background-image: url('http://www.avanieco.com/assets/front/img/about-image-product.jpg');
    min-height: 50vw;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #eee;
    transition: none;
    top: 0;
    opacity: 1;
    background-attachment: fixed;
}
#mediaSlider{
    margin-top: 50px;
    padding: 0;
    display: none;
    .container{
        padding: 20px 0 40px;
    }
    .media-slide-items{
        position: relative;
        outline: none;
        padding: 30px 0;
    }
    .white-title{
        font-family: MontserratB;
        color: white;
        font-size: 24px;
    }
    .quote-paragraph{
        color: #333;
        font-family: Montserrat;
        margin: 20px 0 30px;
        // width: 55%;
        line-height: 28px;
        font-weight: 500;
        font-size: 18px;
    }
    .white-author{
        font-family: Montserrat;
        font-style: italic;
        color: white;
    }
    .right-avatar{
        right: 20%;
        bottom: 0;
        position: absolute;
        height: 100%;
        display: none;
    }
    .slick-dots{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}
#news{
    margin: 30px 0 0;
    padding: 0;
    .news-parent-container{
        display: flex;
        flex-wrap: wrap;
        font-family: MontserratB;
        padding: 35px 0;
        border-bottom: 1px solid #eee;
    }
    .month-sort{
        border-bottom: 5px solid #eee;
        margin-top: 50px;
    }
    .news-date{
        width: 100%;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: MontserratB;
    }
    .news-category{
        color: #757575;
        font-family: 18px;
    }
    .news-title{
        font-size: 24px;
        color: $main-green;
        margin: 15px 0 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .news-title:hover{
        text-decoration: underline;
    }
    .news-img{
        display: block;
        width: 100%;
    }
    .underlined-btn{
        transition: all .3s ease;
        position: relative;
        top: 0;
    }
    .underlined-btn:hover{

        top: -3px;
        padding-bottom: 8px;
    }
}
#relatedNews{
    margin: 0px 0 0;
    padding: 0;

    .related-news-title{
        font-family: MontserratB;
        border-top: 5px solid #eee;
        padding: 30px 0;
        font-size: 22px;
    }
    .news-parent-container{
        display: flex;
        flex-wrap: wrap;
        font-family: MontserratB;
        padding: 35px 0 35px;
        border-bottom: 1px solid #eee;
    }
    .month-sort{
        border-bottom: 5px solid #eee;
        margin-top: 50px;
    }
    .news-date{
        width: 100%;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: Montserrat;
        color: #757575;
    }
    .news-category{
        color: #757575;
        font-family: 18px;
    }
    .news-title{
        font-size: 24px;
        color: $main-green;
        margin: 15px 0 20px;
        font-weight: bold;
    }
    .news-title:hover a{
        text-decoration: underline;
    }
    .news-img{
        display: block;
        width: 100%;
    }
}
#pressroom{
    background: #82c347;
    color: white;
    font-family: MontserratB;
    font-weight: bold;
    text-align: center;
    padding: 50px 50px;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
    top: -5px;
}
.partition-subtitle{
    font-size: 24px;
    font-family: MontserratB;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
}
#connect{

}
#contact{
    padding: 0;
    margin-top: $navbar-height;
    .flex{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .section-title{
        font-size: 34px;
        margin-bottom: 10px;
        width: 100%;
    }
    .section-subtitle{
        font-size: 30px;
        width: 100%;
    }
    .seperator{
        margin: 50px 0;
        border-width: 3px;
        border-color: #555;
    }
    .form-caption{
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: MontserratB;
        font-size: 13px;
        margin-bottom: 10px;
        color: #555;
    }
    .mild-input{
        width: 100%;
        outline: none;
        padding: 10px;
        font-size: 15px;
        font-family: SkModern;
        color: #222;
    }
    .mild-input:focus{
        border: 1px solid $main-green;
    }
    .tall{
        min-height: 120px;
        resize: vertical;
    }
    .form-group{
        margin: 15px 0;
        // padding: 0 20px;
    }
    img{
        display: block;
        margin: 70px auto 0;
        width: 100%;
    }
    .img-subcaption{
        text-align: center;
        font-family: MontserratB;
        color: #bcbcbc;
        margin: 30px auto;
        font-weight: normal;
    }
    b{
        color: #969696;
    }
}
#contactForm{
    display: flex;
    flex-wrap: wrap;
}
// .pad-around{
//     padding: 80px 50px 50px 0;
// }
#productHero{
    // background-image: url('../img/hero-dummy-2.png');
    padding: 0;
    margin-top: 90px;
    margin-bottom: 0;
    .flex{
        // display: flex;
    }
    img{
        // height: 550px;
        max-width: 100%;
        max-height: 310px;
        display: block;
        margin: 30px auto 0 auto;
        // margin-left: 100px;
    }
}

#productBanner{
    margin: 0;
    background-image: url('../img/hero-dummy-2.png');
    min-height: 50vw;
    background-position: center center;
    background-size: cover;
}



#productPrinciples{
    margin-top: 0;
    .section-title{
        font-size: 17px;
        text-align: center;
        padding: 40px 0 10px;
        line-height: 26px;
    }
    .paragraph{
        // width: 450px;
    }
    .ingredient-flex{
        // display: flex;
        justify-content: space-around;
        margin: 50px 0;
        .slick-dots{
            bottom: -50px;
            li.slick-active{
                background: $main-green;
            }
        }
    }
    .ingredient-module{
        width: 100%;
        text-align: center;
        padding: 0 20px;
        .img-container{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: #eee;
            position: relative;
            display: block;
            margin: auto;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .module-caption{
            font-family: MontserratB;
            color: black;
            margin: 20px 0 0;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
        }
        .module-subcaption{
            color: #696969;
            font-family: Montserrat;
            font-size: 12px;
            padding: 0 20px;
            display: none;
        }
    }
}
#productPrinciples.grey{
    background: #f0f0f0;
    .slick-dots{
        bottom: -55px;
        ul{

        }
        li{
            background: #fff;
        }
        li.slick-active{
            background: $main-green;
        }
    }
    .img-container{
        background: white;
    }
}
.vertical-center{
    // position: absolute;
    // top: 50%;
    // left: 0;
    // transform: translateY(-50%);

}
#productCustomizable{
    background-image: url('../img/ecobags/ecobags-banner.png');
    // height: 50vh;
    .container{
        min-height: 50vw;
        position: relative;
    }
    .paragraph{
        color: #454545;
    }
    .customizable-img{
        width: 100%;
        margin-top: 50px;
    }
}
#productCustomizable.no-bg{
    background: none;
}
#productEnquiry{
    display: none;
    padding: 90px 0 50px;
    .paragraph{
        vertical-align: top;
        // width: 50%;
        display: inline-block;
        font-size: 19px;
    }
    .outline-btn{
        // float: right;
        vertical-align: top;
    }
}
#productInformation{
    border-top: 1px solid #d3d3d3;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: -5px;

    .container{
    }
    .img-thumb-container{
        position: relative;
        display: none;
        .prevArrow{
            position: absolute;
            left: -35px;
            top: 50%;
            cursor: pointer;
            transition: all .3s ease;
            .arrow{
                position: absolute;
                border-width: 2px;
                width: 10px;
                height: 10px;
                top: 50%;
                left: 57%;
                transform: translate(-50%, -50%) rotateZ(45deg);
            }
        }
        .nextArrow{
            position: absolute;
            right: -35px;
            top: 50%;
            cursor: pointer;
            transition: all .3s ease;
            .arrow{
                position: absolute;
                border-width: 2px;
                width: 10px;
                height: 10px;
                top: 50%;
                left: 43%;
                transform: translate(-50%, -50%) rotateZ(-135deg);
            }
        }
        .slick-disabled{
            opacity: 0.5;
        }

    }
    .border-container{
        display: inline-block;
        width: 35px;
        height: 35px;
        border: 1px solid #bebebe;
        padding: 7px;
        border-radius: 5px;
    }
    .section-title{
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        // margin-bottom: 80px;
    }
    .product-adapter{
        font-family: Arial;
        padding-bottom: 30px;
        margin-top: 30px;
        // border-bottom: 2px solid #c4c4c4;
    }
    .product-name{
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 30px;
        text-align: center;
    }
    .product-information-paragraph{
        margin-top: 20px;
        line-height: 25px;
        color: #515151;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 30px;
        padding-bottom: 30px;
        max-height: 50px;
        overflow: hidden;
        display: none;
    }
    .outline-btn{
        display: block;
    }
    .size-parent{
        // border-bottom: 1px solid #dddddd;
        margin: 10px 0;
        padding: 10px 0;
        // border-top: 1px solid #ddd;
        text-align: center;
        li{
            padding: 8px 15px;
            text-align: center;
            display: inline-block;
            border: 1px solid #ddd;
            min-width: 65px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: all .3s ease;
        }
        li:hover{
            border: 1px solid #555;
        }
        li.active{
            border: 2px solid $main-green;
        }
        li.black{
            color: #222;
            border: 1px solid #222;
            display: none;
        }
    }
    .product-img-container{
        // display: none;
        // position: fixed;
        // top: 0;
        // left: 0;
        // height: 100vh;
        // width: 100vw;
        // z-index: 95;
        // background: rgba(0,0,0, 0.3);
        .img-bind{
            height: 300px;
            width: 300px;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            margin: auto;
            display: block;
            background-size: contain;
            background-position: center center;
        }
    }
    .product-img-container.active{
        display: block;
    }
    .img-thumb-slide{
        position: relative;
        display: flex;
        width: 225px;
        margin: 50px auto 0;
        justify-content: space-between;
        .img-thumb{
            // padding: 32px;
            transition: all .3s ease;
            img{
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: auto;
                transform: scale(0.6);
                transition: all .4s ease;
            }
        }
        .img-thumb.slick-current{
            img{
                transform: scale(1);
            }
        }
    }
}

.arrow{
    position: relative;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    display: inline-block;
}
.arrow.down{
    transform: rotateZ(-45deg);
    margin-left: 5px;
    top: -3px;
}
.arrow.left{
    transform: rotateZ(45deg);
}
.arrow.right{
    transform: rotateZ(-135deg);
}
#mediaBanner{
    margin-top: $navbar-height;
    padding: 0;
    .container{
        position: relative;
        width: 100%;
        padding: 0;
    }
    .slider-item{
        position: relative;
    }
    .slider-news{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.9);
        /* max-width: 405px; */
        padding: 10px 20px;
        width: 90%;
    }
    .section-title{
        font-size: 30px;
        font-weight: normal;
    }
    .news-category{
        font-family: MontserratB;
        border-bottom: 1px solid #333;
        font-size: 20px;
        display: inline-block;
        margin-bottom: 50px;
        color: #333;
    }
    .slick-dots{
        bottom: 0px;
    }
}
.play-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
    height: 70px;
    transition: padding .2s cubic-bezier(0.8, -0.23, 0.22, 1.02), border .5s cubic-bezier(0.85, -0.19, 0.07, 1.1), transform .1s ease;
    border: 2px solid rgba(0,0,0, 0);
    border-radius: 50%;
}
.play-btn:hover{
    transform: translate(-50%, -50%) rotateZ(360deg) scale(0.95);
    border: 2px solid $main-green;
    padding: 5px;
}
.play-btn:active{
    // transition: none;
    transform: translate(-50%, -50%) rotateZ(360deg) scale(0.85);
    border: 2px solid $main-green;
    padding: 6px;
}

#pressRelease{
    margin-top: $navbar-height;
    .container{
        border-bottom: 5px solid #d9d6d6;
        padding-bottom: 40px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .date{
        margin-bottom: 10px;
        color: #acacac;
    }
    .section-title{
        width: 100%;
    }
    .press-module{
        width: 100%;
        .press-img{
            display: block;
            width: 100%;
        }
    }
    .press-title{
        font-family: MontserratB;
        font-weight: bold;
        font-size: 19px;
    }
    .press-functions{
        padding: 10px 0;
        ul{

        }
        li{
            display: inline-block;
            padding: 10px 0;
            cursor: pointer;
            margin-right: 20px;
            width: 30px;
        }
        img{
            display: block;
        }
        li:hover{
            opacity: 0.7;
        }
        li:active{
            transform: translateY(2px);
        }
    }
}


#videoCampaign{
    margin-top: 34px;
    .container{
        border-bottom: 5px solid #d9d6d6;
        padding-bottom: 40px;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .date{
        margin-bottom: 10px;
        color: #acacac;
    }
    .section-title{
        width: 100%;
    }
    .press-module{
        width: 100%;
        .press-img{
            display: block;
            width: 100%;
        }
    }
    .press-title{
        font-family: MontserratB;
        font-weight: bold;
        font-size: 19px;
    }
    .press-functions{
        padding: 10px 0;
        ul{

        }
        li{
            display: inline-block;
            padding: 10px 0;
            cursor: pointer;
            margin-right: 20px;
            width: 30px;
        }
        img{
            display: block;
        }
        li:hover{
            opacity: 0.7;
        }
        li:active{
            transform: translateY(2px);
        }
    }
}

#extraCampaign{
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .press-functions{
        padding: 10px 0;
        ul{

        }
        li{
            display: inline-block;
            padding: 10px 0;
            cursor: pointer;
            margin-right: 20px;
            width: 30px;
        }
        img{
            display: block;
        }
        li:hover{
            opacity: 0.7;
        }
        li:active{
            transform: translateY(2px);
        }
    }
    .section-title{
        font-size: 32px;
        display: inline-block;
        margin-bottom: 0;
        width: 50%;
    }
    .w40{
        width: 45%;
        font-family: MontserratB;
        display: flex;
        // background: #eee;
        border: 1px solid white;
    }
    .ul-before{
        ul{
            margin-left: 80px;
        }
        li{
            margin: 17% 0;
            width: 100%;
            display: block;
        }
        li:before{
            content: "";
            background-image: url('../img/global/ico-download.png');
            height: 20px;
            width: 40px;
            position: relative;
            top: 3px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
#newsContent{
    margin-top: $navbar-height;
    padding: 0;
    .news-title{
        @extend .section-title;
        font-size: 24px;
        margin-top: 20px;
    }
    .news-time-container{
        font-family: Montserrat;
        padding: 50px 0 0px;
    }
    .news-lapse{

        color: #989898;
    }
    .news-paragraph{
        padding-bottom: 50px;
    }
    .news-hero{
        display: block;
        width: 100%;
    }
}
//parentContainer end


//newsletter start
#newsletter{
    padding: 80px 0;
    .newsletter-title{
        font-family: MontserratB;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
    form{
        padding: 30px 0;
        text-align: center;
        font-family: MontserratB;
        .underlined-input{
            border-bottom: 1px solid #aaa;
            height: 38px;
            text-align: left;
            padding-bottom: 5px;
            margin: 20px 0px;
            padding-left: 0px;
            font-family: Montserrat;
            width: 80%;
            outline: none;
            vertical-align: top;
            font-size: 16px;
            text-align: center;
        }
    }
}
//newsletter end

// footer start
#footer{
    color: #FFF;
    background: #000;
    padding: 50px 0;
    font-family: SkModern;
    text-align: center;
    transition: all .1s ease;
    .footer-ul{
        text-align: left;
        // display: flex;
        justify-content: space-between;
        // width: 60%;
        margin: auto;
        margin-bottom: 30px;
        li{
            display: block;
            margin: 10px auto;
        }
    }
    .footer-2nd{
        // display: flex;
        justify-content: space-between;
        // width: 70%;
        margin: 10px auto 30px;
    }
    .sosmed-ul{
        li{
            display: inline-block;
            margin: 30px 10px;
            width: 30px;
            img{
                display: block;
            }
        }
    }
}
#footer.blur{
    filter: blur(8px);
}
// footer end

#indexSlide5{
    img.slide-btm{
        bottom: -15px;
        width: 95%;
        top: auto;

    }
    #indexSlider .floating-text .floating-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
        width: 80%;
        margin: auto;
    }
}
